<!DOCTYPE HTML>
<html>
  <head>
    <title>阿里内部经典语录</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/jok.css">
  </head>
  <body>
    <div class="jok">
      <img src="http://images.pinduoduo.com/mrk/2018-07-29/1a4f7b8f-2201-4b4c-bf8e-650657d548db.jpg"/>
    </div>
  </body>
  
</html>