<!DOCTYPE HTML>
<html>
  <head>
    <title>好烦</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/jok.css">
  </head>
  <body>
    <div class="jok" style="margin-top: 100px;">
      <% if (ad.type === 1) {%>
        <div><%= ad.content %></div>
      <% } else if (ad.type === 2) {%>
        <img src="<%= ad.content %>" width="100%" style="background-color: white"/>
      <%} else if (ad.type === 3) {%>
        <div><%- ad.content %></div>
      <%} else {%>
        <div><%= ad.content %></div>
      <%}%>
    </div>
    <div>
      <!-- TODO -->
    </div>
  </body>
  <script type="text/javascript" src="js/location.js"></script>
</html>