<!DOCTYPE HTML>
<html>
  <head>
    <title>阿里内部经典语录</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/jok.css">
  </head>
  <body>
    <div class="jok">
      TODO
    </div>
    <div>
      <button class="btn_more">再看一个</button>
    </div>
  </body>

</html>