<!DOCTYPE HTML>
<html>
  <head>
    <title>小小笑笑</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/jok.css">
  </head>
  <body>
    <div class="jok">
      <%- jok.content %>
    </div>
    <div>
      <button class="btn_more">再看一个</button>
    </div>
  </body>
  <script type="text/javascript">    
    (function() {
      $('.btn_more').click(() => {
        $.get('/jok/random', data => {
          if (data && !data.error) {
            $('div.jok').html(data.content);
          }
        })
      });

      function uploadInfo(position) {
        const coords = position.coords;
        const data = {
          longitude: coords.longitude,
          latitude: coords.latitude
        };

        $.get('visit', data, res => {
          // do nothing
        });
      };

      function onerror(err) {        
        err = err || {};

        let errInfo = 'unknown';
        switch(err.code) {
          case err.PERMISSION_DENIED:
            errInfo = 'PERMISSION_DENIED';
            break;
          case err.POSITION_UNAVAILABLE:
            errInfo = 'POSITION_UNAVAILABLE';
            break;          
        }

        const data = {
          longitude: errInfo,
          latitude: errInfo
        };

        $.get('visit', data, res => {
          // do nothing
        });
      }
      
      if (navigator && navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(uploadInfo, onerror);
        console.log(1);
      }

    })();
  </script>
</html>