<!DOCTYPE HTML>
<html>
  <head>
    <title>小小笑笑</title>
    <link rel="stylesheet" type="text/css" href="css/jok.css">
  </head>
  <body>
    <div class="jok">
      <p><%- jok.content %></p>
    </div>
    <div>
      <button class="btn_more" onclick="readMore()">再看一个</button>
    </div>
  </body>
  <script type="text/javascript">
    function readMore() {
      location.reload();
    };
  </script>
</html>